/*.book-header h1 { display: block; }*/
/*
.book-body .body-inner {
  bottom: auto;
}
*/
.page-inner {
  padding-top: 0px;
  padding-bottom: 0px;
}
.book-summary {
  padding-bottom: 30px;
}
.book-summary ul.summary {
  margin-top: 60px;
}
.sidebar-top {
  position: fixed;
  width: 300px;
  padding: 15px;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(0,0,0,.07);
  border-right: 1px solid rgb(0,0,0,.07);
  z-index: 2;
  font-weight: bold;
  font-size: 16px;
  top: 0px;
}
.color-theme-1 .sidebar-top {
  background-color: #111111;
}
.color-theme-2 .sidebar-top {
  background-color: #2d3143;
}
.sidebar-top a {
  color: inherit;
}
@media (max-width: 600px) {
  .sidebar-top {
    width: calc(100% - 60px);
  }
}

.header-chapter-num {
}
.header-chapter-num + h1 {
  margin-top: -10px !important;
}

.chapter-pager {
  margin-top: 24px;
}
.chapter-pager a {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  width: 100%;
  color: inherit;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.chapter-pager a.chapter-next {
  float: right;
}
.chapter-pager a.chapter-prev {
  margin-bottom: 10px;
}
.chapter-pager a:hover {
  color: #4183c4;
  border-color: #4183c4;
}
.book.color-theme-1 .chapter-pager a {
  border-color: #70421480;
}

.book.color-theme-1 .chapter-pager a:hover {
  border-color: #000;
  color: #000;
}
.chapter-pager .fa {
  opacity: 0.5;
  /*font-size: 24px;*/
  margin-top: 10px;
}
.chapter-pager .chapter-prev .pager-arrow {
  float: left;
  margin-right: 10px;
}
.chapter-pager .pager-labels {
  font-size: 16px;
  position: absolute;
}
.chapter-pager .chapter-prev .pager-labels {
  right: 15px;
  text-align: right;
}
.chapter-pager .pager-labels .part {
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}
.book.color-theme-1 .chapter-pager .pager-labels .part {
  color: #70421480;
}
.chapter-pager .pager-labels .chapter-label {
  padding-top: 3px;
}

.chapter-pager .chapter-next .pager-arrow {
  float: right;
  margin-left: 10px;
}
@media (min-width: 800px) {
  .chapter-pager a {
    width: 48%;
  }
  .chapter-pager a.pager-unique {
    width: 100%;
  }
}

h1 + .page-subtitle {
  margin-top: -30px;
  margin-bottom: 30px;
}

.chapter-footer {
  border-top: 1px solid #999;
  margin-top: 24px;
  padding-top: 24px;
  text-align: center;
  opacity: 0.6;
}
.chapter-footer a {
  color: inherit;
  opacity: 1;
}
.chapter-footer a:hover {
  text-decoration: underline;
}
.chapter-footer .fa-github {
  font-size: 18px;
}
.book.color-theme-1 .chapter-footer {
  border-color: #70421480;
}
.back-to-top {
  z-index: 1;
}
ul.toc-chapters-full {
  list-style: none;
  padding-left: 0px;
}
ul.toc-chapters-full.show-drafts {
  padding-left: 20px;
}
.toc-chapters-full ul {
  list-style: none;
  padding-left: 20px;
}
.toc-chapters-full a {
  display: inline-block;
}
.toc-chapters-full li.part {
  margin-top: 10px;
  margin-bottom: 5px;
}
.toc-chapters-full .part-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.toc-chapters-full li.chapter {
  margin-bottom: 10px;
  line-height: 1.5;
  position: relative;
}
.toc-chapters-full.show-drafts li.chapter::before {
  content: "\f046";
  font: normal normal normal 14px/1 FontAwesome;
  opacity: 0.5;
  position: absolute;
  left: -20px;
  top: 5px;
}
.toc-chapters-full.show-drafts li.chapter.draft::before {
  content: "\f096";
}
.toc-chapters-full .chapter-num {
  opacity: 0.5;
}
.toc-chapters-full .abstract {
  color: #666;
  font-style: italic;
}
