/*.book-header h1 { display: block; }*/
.book-body .body-inner {
  bottom: auto;
}

.chapter-pager {
  margin-top: 24px;
}
.chapter-pager a {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  width: 100%;
  color: inherit;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.chapter-pager a.chapter-next {
  float: right;
}
.chapter-pager a.chapter-prev {
  margin-bottom: 10px;
}
.chapter-pager a:hover {
  color: #4183c4;
  border-color: #4183c4;
}
.book.color-theme-1 .chapter-pager a {
  border-color: #70421480;
}
.book.color-theme-1 .chapter-pager a:hover {
  border-color: #000;
  color: #000;
}
.chapter-pager .fa {
  opacity: 0.5;
  /*font-size: 24px;*/
  margin-top: 10px;
}
.chapter-pager .chapter-prev .pager-arrow {
  float: left;
  margin-right: 10px;
}
.chapter-pager .pager-labels {
  font-size: 16px;
  position: absolute;
}
.chapter-pager .chapter-prev .pager-labels {
  right: 15px;
  text-align: right;
}
.chapter-pager .pager-labels .part {
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}
.book.color-theme-1 .chapter-pager .pager-labels .part {
  color: #70421480;
}
.chapter-pager .pager-labels .chapter-label {

}

.chapter-pager .chapter-next .pager-arrow {
  float: right;
  margin-left: 10px;
}
@media (min-width: 800px) {
  .chapter-pager a {
    width: 48%;
  }
  .chapter-pager a.pager-unique {
    width: 100%;
  }
}

h1 + .page-subtitle {
  margin-top: -30px;
  margin-bottom: 30px;
}
