{% assign part_folder = nil %}
{% assign part_label = nil %}
{% assign part_unnumbered = false %}

{% if include.page and include.page.collection == "chapters" %}
  {% assign part_folder = include.page.path | split: "/" | slice: 1 | first %}
{% endif %}

{% if part_folder %}
  {% assign _partindex = part_folder | split: "-" | first %}
  {% if _partindex == "000" %}
    {% assign part_unnumbered = true %}
  {% else %}
    {% assign part_label = part_folder | split: "-" | shift | join: " " | capitalize %}
  {% endif %}
{% endif %}
