{% assign _local_chapter_id = include.chapter.id %}
{% assign _local_chapter_num = nil %}
{% assign _local_chapter_label = nil %}
{% assign _local_chapter_url = nil %}
{% assign _local_chapter_part_num = nil %}
{% assign _local_chapter_part_label = nil %}
{% assign _local_chapter_part_folder = nil %}
{% assign _local_chapter_part_unnumbered = false %}
{% assign _local_chapter_is_visible = nil %}
{% assign _local_chapter_is_draft = nil %}
{% assign _local_chapter_prev = nil %}
{% assign _local_chapter_next = nil %}

{% if include.chapter and include.chapter.collection == "chapters" %}
  {% assign _partnum = 0 %}
  {% assign __chapternum = 0 %}
  {% assign __lastpart = nil %}
  {% assign __found = false %}
  {% assign __prevchapter = nil %}

  {% for __chapter in site.chapters %}
    {% include assign-chapter-is-visible.html chapter=__chapter %}
    {% assign __chapter_is_draft = chapter_is_draft %}
    {% assign __chapter_is_visible = chapter_is_visible %}

    {% if __found and __chapter_is_visible %}
      {% assign _local_chapter_next = __chapter %}
      {% break %}
    {% endif %}

    {% include assign-part-vars-lite.html page=__chapter %}
    {% assign __part_folder = part_folder %}
    {% assign __part_label = part_label %}
    {% assign __part_unnumbered = part_unnumbered %}

    {% unless __part_unnumbered %}
      {% unless __chapter_is_draft %}
        {% assign __chapternum = __chapternum | plus: 1 %}
      {% endunless %}
      {% if __part_folder != __lastpart %}
        {% assign _partnum = _partnum | plus: 1 %}
      {% endif %}
    {% endunless %}

    {% if __chapter.id == include.chapter.id %}
      {% assign __found = true %}
      {% assign _local_chapter_label = __chapter.title %}
      {% assign _local_chapter_url = __chapter.url %}
      {% assign _local_chapter_prev = __prevchapter %}
      {% assign _local_chapter_is_draft = __chapter_is_draft %}
      {% assign _local_chapter_is_visible = __chapter_is_visible %}
      {% assign _local_chapter_part_folder = __part_folder %}
      {% assign _local_chapter_part_label = __part_label %}
      {% assign _local_chapter_part_unnumbered = __part_unnumbered %}

      {% unless __part_unnumbered %}
        {% assign _local_chapter_part_num = _partnum %}
        {% if __chapter_is_draft %}
          {% assign _local_chapter_num = "X" %}
        {% else %}
          {% assign _local_chapter_num = __chapternum %}
        {% endif %}
      {% endunless %}
    {% endif %}

    {% assign __lastpart = __part_folder %}
    {% if __chapter_is_visible %}
      {% assign __prevchapter = __chapter %}
    {% endif %}

  {% endfor %}
{% endif %}
