<div class="dropdown font-settings js-toolbar-action">
  <a class="btn toggle-dropdown" aria-label="Font Settings" href="#">
    <i class="fa fa-font" style="margin-right: 5px;"></i>
    Font settings...
  </a>
  <!-- div class="dropdown-menu dropdown-left open"-->
  <div class="dropdown-menu dropdown-left">
    <div class="dropdown-caret">
      <span class="caret-outer"></span>
      <span class="caret-inner"></span>
    </div>
    <div class="buttons">
      <button class="button size-2 font-reduce">A</button>
      <button class="button size-2 font-enlarge">A</button>
    </div>
    <div class="buttons">
      <button class="button size-2 ">Serif</button>
      <button class="button size-2 ">Sans</button>
    </div>
    <div class="buttons">
      <button class="button size-3 ">White</button>
      <button class="button size-3 ">Sepia</button>
      <button class="button size-3 ">Night</button>
    </div>
  </div>
</div>