<link rel="apple-touch-icon" sizes="180x180" href="/assets/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/logos/favicon-16x16.png">
<link rel="mask-icon" href="/assets/logos/safari-pinned-tab.svg" color="#5bbad5">

<meta property="og:title" content="Fretboard Foundation: Practical building blocks for intermediate guitarists." />
<meta property="og:type" content="website" />
<meta
    property="og:description"
    content="Practical music theory for intermediate guitarists. Fretboard Foundation aims to organize and simplify the information required for fluency on guitar, including playing by ear, chords and harmony, and scales and melody."
/>
<meta property="og:image" content="https://book.fretboardfoundation.com/assets/img/og-image.png" />
<meta property="og:url" content="https://book.fretboardfoundation.com" />
