{% unless page_chapter_vars_assigned %}
  {% include assign-local-chapter-vars.html chapter=page %}

  {% assign page_chapter_vars_assigned = true %}
  {% assign page_chapter_num = _local_chapter_num %}
  {% assign page_chapter_label = _local_chapter_label %}
  {% assign page_chapter_url = _local_chapter_url %}
  {% assign page_part_num = _local_chapter_part_num %}
  {% assign page_part_label = _local_chapter_part_label %}
  {% assign page_part_folder = _local_chapter_part_folder %}
  {% assign page_part_unnumbered = _local_chapter_part_unnumbered %}
  {% assign page_chapter_is_draft = _local_chapter_is_draft %}
  {% assign page_chapter_prev = _local_chapter_prev %}
  {% assign page_chapter_next = _local_chapter_next %}
{% endunless %}
