{% unless page_chapter_vars_assigned %}
  {% include assign-local-chapter-vars.html chapter=page %}

  {% assign page_chapter_vars_assigned = true %}
  {% assign page_chapter_num = _local_chapter_num %}
  {% assign page_chapter_label = _local_chapter_label %}
  {% assign page_chapter_url = _local_chapter_url %}
  {% assign page_part_num = _local_chapter_part_num %}
  {% assign page_part_label = _local_chapter_part_label %}
  {% assign page_part_folder = _local_chapter_part_folder %}
  {% assign page_part_unnumbered = _local_chapter_part_unnumbered %}
  {% assign page_chapter_is_draft = _local_chapter_is_draft %}
  {% assign page_chapter_prev = _local_chapter_prev %}
  {% assign page_chapter_next = _local_chapter_next %}
{% endunless %}


{% comment %}


{% assign chapter_num = nil %}
{% assign chapter_label = nil %}
{% assign chapter_url = nil %}
{% assign part_num = nil %}
{% assign part_label = nil %}
{% assign part_folder = nil %}
{% assign part_unnumbered = false %}
{% if include.chapter.id == page.id %}
  {% assign chapter_prev = nil %}
  {% assign chapter_next = nil %}
{% endif %}

{% if include.chapter and include.chapter.collection == "chapters" %}
  {% assign _partnum = 0 %}
  {% assign _chapternum = 0 %}
  {% assign _lastpart = nil %}
  {% assign _found = false %}
  {% if include.chapter.id == page.id %}
    {% assign _prevchapter = nil %}
  {% endif %}

  {% for _chapter in site.chapters %}
    {% include assign-chapter-is-visible.html chapter=_chapter %}
    {% unless chapter_is_visible %}
      {% continue %}
    {% endunless %}

    {% if _found %}
      {% if include.chapter.id == page.id %}
        {% assign chapter_next = _chapter %}
      {% endif %}
      {% break %}
    {% endif %}

    {% include assign-part-vars-lite.html page=_chapter %}

    {% unless part_unnumbered %}
      {% assign _chapternum = _chapternum | plus: 1 %}
      {% if part_folder != _lastpart %}
        {% assign _partnum = _partnum | plus: 1 %}
      {% endif %}
    {% endunless %}

    {% if _chapter.id == include.chapter.id %}
      {% assign _found = true %}
      {% assign chapter_label = _chapter.title %}
      {% assign chapter_url = _chapter.url %}
      {% if include.chapter.id == page.id %}
        {% assign chapter_prev = _prevchapter %}
      {% endif %}
      {% unless part_unnumbered %}
        {% assign part_num = _partnum %}
        {% assign chapter_num = _chapternum %}
      {% endunless %}
    {% endif %}

    {% assign _lastpart = part_folder %}
    {% if include.chapter.id == page.id %}
      {% assign _prevchapter = _chapter %}
    {% endif %}
  {% endfor %}
{% endif %}

{% endcomment %}
