<div class="book-summary">
  <nav role="navigation">
    <ul class="summary">
      {% if site.data.nav %}
        {% for item in site.data.nav %}
        <li class="chapter {% if item.url == page.url %}active{% endif %}" data-path="{{ site.baseurl }}{{ item.url }}" data-level="1.1">
          <!-- <li class="chapter {% if item.url == page.url %}active{% endif %}"> -->
          <a href="{{site.baseurl}}{{item.url}}" class="">{{ item.label }}</a>
        </li>
        {% endfor %}

        <li class="divider"></li>
      {% endif %}



      {% comment %}
      {% assign _prevpart = "" %}

      {% for _chapter in site.chapters %}
        {% include assign-local-chapter-vars.html chapter=_chapter %}

        {% unless _local_chapter_is_visible %}
          {% continue %}
        {% endunless %}

        {% assign _is_new_part = false %}
        {% if _local_chapter_part_folder and _local_chapter_part_folder != _prevpart %}
          {% assign _is_new_part = true %}
        {% endif %}
        {% assign _prevpart = _local_chapter_part_folder %}

        {% if _is_new_part and _local_chapter_part_label %}
          <li class="header">Part {{ _local_chapter_part_num }}: {{ _local_chapter_part_label }}</li>
        {% endif %}

        {% if page.url == _local_chapter_url %}
          <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{_local_chapter_url}}">
        {% else %}
          <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{_local_chapter_url}}">
        {% endif %}

        <a href="{{site.baseurl}}{{_local_chapter_url}}">
          {% unless _local_chapter_part_unnumbered %}{{ _local_chapter_num }}.{% endunless %}
          {{ _local_chapter_label | escape }}
        </a>

        {% if site.toc.enabled %}
          {% if page.url == _local_chapter_url %}
            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
          {% endif %}
        {% endif %}

        </li>
      {% endfor %}
      {% endcomment %}


      <!-- Chapters -->
      {% assign part_num = 0 %}
      {% assign chapter_num = 0 %}
      {% assign prevpart = "" %}
      {% for chapter in site.chapters %}
        {% include assign-chapter-is-visible.html chapter=chapter %}
        {% unless chapter_is_visible %}
          {% continue %}
        {% endunless %}

        {% assign is_new_part = false %}
        {% include assign-part-vars-lite.html page=chapter %}
        {% unless part_unnumbered %}
          {% unless chapter_is_draft %}
            {% assign chapter_num = chapter_num | plus: 1 %}
          {% endunless %}
          {% if part_folder != prevpart %}
            {% assign part_num = part_num | plus: 1 %}
            {% assign is_new_part = true %}
          {% endif %}
        {% endunless %}
        {% assign prevpart = part_folder %}

        {% if is_new_part and part_label %}
          <li class="header">Part {{ part_num }}: {{ part_label }}</li>
        {% endif %}

        {% if page.url == chapter.url %}
          <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{chapter.url}}">
        {% else %}
          <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{chapter.url}}">
        {% endif %}
        <a href="{{site.baseurl}}{{chapter.url}}">
          {% unless part_unnumbered %}
            {% if chapter_is_draft %}
              X.
            {% else %}
              {{ chapter_num }}.
            {% endif %}
          {% endunless %}
          {{ chapter.title | escape }}
        </a>
        {% if site.toc.enabled %}
          {% if page.url == chapter.url %}
            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
          {% endif %}
        {% endif %}
        </li>
      {% endfor %}


    </ul>
  </nav>
</div>
