<div class="book-summary">
  <nav role="navigation">
    <!--
    <div id="book-search-input" role="search">
      <input type="text" placeholder="Type to search" />
    </div>
    <div id="book-search-input-link" role="search">
      <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
    </div>
    -->

    <ul class="summary">
      <li style="margin-top: 7px;">
        <a href="{{site.baseurl}}/" style="font-size: 16px; font-weight: bold; float: left;">
          {{ site.title | escape }}
        </a>
        <a href="#" onClick="$('.book').removeClass('with-summary');" style="float: right; opacity: 0.6;">
          <i class="fa fa-times"></i>
        </a>
        <div style="clear: both;"></div>
      </li>

      <li class="divider"></li>

      <!-- Chapters -->
      {% assign part_num = 0 %}
      {% assign chapter_num = 0 %}
      {% assign prevpart = "" %}
      {% for chapter in site.chapters %}
        {% include assign-chapter-is-visible.html chapter=chapter %}
        {% unless chapter_is_visible %}
          {% continue %}
        {% endunless %}

        {% assign is_new_part = false %}
        {% include assign-part-vars-lite.html page=chapter %}
        {% unless part_unnumbered %}
          {% assign chapter_num = chapter_num | plus: 1 %}
          {% if part_folder != prevpart %}
            {% assign part_num = part_num | plus: 1 %}
            {% assign is_new_part = true %}
          {% endif %}
        {% endunless %}
        {% assign prevpart = part_folder %}

        {% if is_new_part and part_label %}
          <li class="header">Part {{ part_num }}: {{ part_label }}</li>
        {% endif %}

        {% if page.url == chapter.url %}
          <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{chapter.url}}">
        {% else %}
          <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{chapter.url}}">
        {% endif %}
        <a href="{{site.baseurl}}{{chapter.url}}">
          {% unless part_unnumbered %}{{ chapter_num }}.{% endunless %}
          {{ chapter.title | escape }}
        </a>
        {% if site.toc.enabled %}
          {% if page.url == chapter.url %}
            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
          {% endif %}
        {% endif %}
        </li>
      {% endfor %}

      {% if site.chapters.size > 0 %}
        <li class="divider"></li>
      {% endif %}

      {% for item in site.data.nav %}
        <li class="{% if item.url == page.url %}active{% endif %}" data-path="{{ site.baseurl }}{{ item.url }}">
          <a href="{{site.baseurl}}{{item.url}}" class="">{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
