
<ul class="toc-chapters-full {% if include.show_drafts %}show-drafts{% endif %}">

  {% assign _prevpart = "" %}
  {% assign _in_nested_part = false %}

  {% for _chapter in site.chapters %}
    {% if _chapter.id == page.id %}
      {% continue %}
    {% endif %}

    {% include assign-local-chapter-vars.html chapter=_chapter %}

    {% unless _local_chapter_is_visible %}
      {% unless include.show_drafts and _local_chapter_is_draft %}
        {% continue %}
      {% endunless %}
    {% endunless %}

    {% assign _is_new_part = false %}
    {% if _local_chapter_part_folder and _local_chapter_part_folder != _prevpart %}
      {% assign _is_new_part = true %}
    {% endif %}
    {% assign _prevpart = _local_chapter_part_folder %}

    {% if _is_new_part and _in_nested_part %}
      </ul></li>
      {% assign _in_nested_part = false %}
    {% endif %}

    {% if _is_new_part and _local_chapter_part_label %}
      <li class="part">
        <div class="part-label">
          Part {{ _local_chapter_part_num }}: {{ _local_chapter_part_label }}
        </div>
        <ul>
        {% assign _in_nested_part = true %}
    {% endif %}

    <li class="chapter {% if include.show_drafts %}{% if _local_chapter_is_draft %}draft{% else %}not-draft{% endif %}{% endif %}"
        data-level="1.1" data-path="{{site.baseurl}}{{_local_chapter_url}}">
      <a href="{{site.baseurl}}{{_local_chapter_url}}">
        <div class="chapter-label">
          {% unless _local_chapter_part_unnumbered %}
            <span class="chapter-num">Chapter {{ _local_chapter_num }}.</span>
          {% endunless %}
          {{ _local_chapter_label }}
        </div>
        {% if _chapter.abstract %}
          <div class="abstract">
            {{ _chapter.abstract }}
          </div>
        {% endif %}
      </a>
    </li>
  {% endfor %}
{% if _in_nested_part %}
  </ul></li>
  {% assign _in_nested_part = false %}
{% endif %}
</ul>