---
layout: default
include-chapter-pager: true
---

{% if page.collection == "chapters" %}
  {% include init-page-chapter-vars.html %}
  {% unless page_part_unnumbered %}
  <span></span>
  <div class="header-chapter-num">
    Part {{ page_part_num }}:
    {{ page_part_label }} -
    {% if page_chapter_num %}
      Chapter {{ page_chapter_num}}.
      {% if page_chapter_is_draft %}
        (<i>Draft</i>)
      {% endif %}
    {% endif %}
  </div><!-- .header-chapter-num -->
  {% endunless %}
{% endif %}

{% if page.title %}
  <h1 id="{{ page.id }}" data-level="1.1" class="no_toc">{{ page.title | escape }}</h1>
{% endif %}

{% if page.abstract %}
  <div class="chapter-abstract color-callout-dark">
    {{ page.abstract }}
  </div>
{% endif %}

{{ content }}

