<!DOCTYPE HTML>
<html lang="en" >
  <head>

    {%- include head.html -%}

    <link rel="stylesheet" href="{{site.baseurl}}/css/chapter-pager.css">


    {% include assign-chapter-vars.html chapter=page %}

    {% if chapter_prev %}
      <link rel="prev" href="{{site.baseurl}}{{chapter_prev.url}}" />
    {% else %}
      <link rel="prev" href="{{site.baseurl}}/" />
    {% endif %}

    {% if chapter_next %}
      <link rel="next" href="{{site.baseurl}}{{chapter_next.url}}" />
    {% endif %}
  </head>
  <body>
    <div class="book">

      {%- include toc-chapters.html -%}

      <div class="book-body">
        <div class="book-header" role="navigation">
          <!-- Title -->
          <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {% if page.title %}
            <a href="." >{{ page.title | escape }}</a>
            {% else %}
            <a href="." >{{ site.title | escape }}</a>
            {% endif %}
          </h1>
        </div>

        <div class="body-inner">

          {%- include body.html -%}


          <div class="body-inner-footer" style="max-width: 800px; padding: 20px 15px 40px 15px; margin: 0 auto;">

          {% if chapter_prev or chapter_next %}
            <div class="chapter-pager">
            {% if chapter_prev %}
              {% include assign-chapter-vars.html chapter=chapter_prev %}
              <a href="{{site.baseurl}}{{chapter_url}}" class="chapter-prev {% unless chapter_next %}pager-unique{% endunless %}" aria-label="Previous page: {{chapter_label}}">
                <div class="pager-arrow">
                  <i class="fa fa-arrow-left"></i>
                </div>
                <div class="pager-labels">
                  <div class="part">
                    {% if part_label %}{{ part_label }} -{% endif %}
                    Previous
                  </div>
                  {% if chapter_num %}Chapter {{ chapter_num }}:{% endif %}
                  {{ chapter_label }}
                </div>
              </a>
            {% endif %}

            {% if chapter_next %}
              {% include assign-chapter-vars.html chapter=chapter_next %}
              <a href="{{site.baseurl}}{{chapter_url}}" class="chapter-next {% unless chapter_prev %}pager-unique{% endunless %}" aria-label="Next page: {{chapter_label}}">
                <div class="pager-arrow">
                  <i class="fa fa-arrow-right"></i>
                </div>
                <div class="pager-labels">
                  <div class="part">
                    Next
                    {% if part_label %}- {{ part_label }}{% endif %}
                  </div>
                  {% if chapter_num %}Chapter {{ chapter_num }}:{% endif %}
                  {{ chapter_label }}
                </div>
              </a>
            {% endif %}
              <div style="clear: both;"></div>
            </div> <!-- .chapter-pager -->
          {% endif %}


          {% if site.github_edit.enabled %}
            <div style="border-top: 1px solid #ccc; margin-top: 24px; padding-top: 24px; text-align: center; width: 100%;">
              <a href="{{ site.github_edit.base_url }}{{ page.path }}" target="_blank" title="Edit on GitHub">
                <i class="fa fa-github" style="color: #999; font-size: 18px;"></i>
              </a>
            </div>
          {% endif %}


          </div> <!-- .body-inner-footer -->


        </div> <!-- .body-inner -->
      </div> <!-- .book -->



      <script>
        var gitbook = gitbook || [];
        gitbook.push(function() {
          gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
        });
      </script>
    </div>


    {%- include footer.html -%}

  </body>
</html>

