<!DOCTYPE HTML>
<html lang="en" >
  <head>

    {%- include head.html -%}

    {% if layout.include-chapter-pager %}
      {% include init-page-chapter-vars.html %}

      {% if page_chapter_prev %}
        <link rel="prev" href="{{site.baseurl}}{{page_chapter_prev.url}}" />
      {% else %}
        <link rel="prev" href="{{site.baseurl}}/" />
      {% endif %}

      {% if page_chapter_next %}
        <link rel="next" href="{{site.baseurl}}{{page_chapter_next.url}}" />
      {% endif %}
    {% endif %}

  </head>
  <body>
    <div class="book">

      {%- include toc-chapters.html -%}

      <div class="book-body">
        <div class="book-header" role="navigation">
          <h1>
            <a href="{{site.baseurl}}/" >{{ site.title | escape }}</a>
          </h1>
        </div><!-- .book-header -->

        <div class="body-inner">
          <div class="page-wrapper" tabindex="-1" role="main">
            <div class="page-inner">
                <section class="normal markdown-section">
                  {{ content }}
                </section>

                {% if layout.include-chapter-pager %}
                  {% include init-page-chapter-vars.html %}

                  {% if page_chapter_prev or page_chapter_next %}
                    <div class="chapter-pager">
                      {% if page_chapter_prev %}
                        {% include assign-local-chapter-vars.html chapter=page_chapter_prev %}

                        <a href="{{site.baseurl}}{{_local_chapter_url}}"
                           class="chapter-prev {% unless page_chapter_next %}pager-unique{% endunless %}"
                           aria-label="Previous page: {{_local_chapter_label}}"
                           data-level="1.1" data-path="{{site.baseurl}}{{_local_chapter_url}}">
                          <div class="pager-arrow">
                            <i class="fa fa-arrow-left"></i>
                          </div>
                          <div class="pager-labels">
                            <div class="part">
                              {% if _local_chapter_part_label %}{{ _local_chapter_part_label }} -{% endif %}
                              Previous
                            </div>
                            <div class="chapter-label">
                              {% if _local_chapter_num %}Chapter {{ _local_chapter_num }}:{% endif %}
                              {{ _local_chapter_label }}
                            </div>
                          </div>
                        </a>
                      {% endif %}

                      {% if page_chapter_next %}
                        {% include assign-local-chapter-vars.html chapter=page_chapter_next %}

                        <a href="{{site.baseurl}}{{_local_chapter_url}}"
                           class="chapter-next {% unless page_chapter_prev %}pager-unique{% endunless %}"
                           aria-label="Next page: {{_local_chapter_label}}"
                           data-level="1.1" data-path="{{site.baseurl}}{{_local_chapter_url}}">
                          <div class="pager-arrow">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="pager-labels">
                            <div class="part">
                              Next
                              {% if _local_chapter_part_label %}- {{ _local_chapter_part_label }}{% endif %}
                            </div>
                            <div class="chapter-label">
                              {% if _local_chapter_num %}Chapter {{ _local_chapter_num }}:{% endif %}
                              {{ _local_chapter_label }}
                            </div>
                          </div>
                        </a>
                      {% endif %}

                      <div style="clear: both;"></div>
                    </div> <!-- .chapter-pager -->
                  {% endif %}
                {% endif %}

                <div class="chapter-footer">
                  {% assign latest_year = "now" | date: "%Y" %}
                  {% capture copyright_start_year %}{{ site.copyright.start_year }}{% endcapture %}
                  {% if site.copyright.link_slug %}<a href="{{ site.baseurl }}/{{ site.copyright.link_slug }}">{% endif %}
                  Copyright
                  &copy;
                  {% if copyright_start_year and copyright_start_year != latest_year %}{{ copyright_start_year}}-{% endif %}{{ latest_year }}
                  {{ site.author }}
                  {% if site.copyright.link_slug %}</a>{% endif %}

                  {% if site.github_edit.enabled %}
                    <p>
                      <a href="{{ site.github_edit.base_url }}{{ page.path }}" target="_blank" title="Edit on GitHub">
                        <i class="fa fa-github"></i>
                      </a>
                    </p>
                  {% endif %}
                </div><!-- .chapter-footer -->

            </div> <!-- .page-inner -->
          </div> <!-- .page-wrapper -->
        </div> <!-- .body-inner -->
      </div> <!-- .book-body -->
    </div> <!-- .book -->

    {%- include footer.html -%}

    <script>
        // var gitbook = gitbook || [];
        console.log('Initializing gitbook ' + Date());
        gitbook.push(function() {
          gitbook.page.hasChanged({%- include gitbook-metadata.json.tpl -%});
        });
    </script>

<!--
    <script>
      var gitbook = gitbook || [];
      gitbook.push(function() {
        gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
      });
    </script>
  -->

    <!--
    <script>
      // Crazy hack needed to have top of page stop scrolling a little bit out of view in Safari
      gitbook.events.on('page.change', function() {
        setTimeout(function() {
          // console.log('JG setTimeout .book-body.scrollTop(0)');
          $('.book-body').scrollTop(0);
        }, 100)
      });
    </script>
    -->
  </body>
</html>

