<!DOCTYPE HTML>
<html lang="en" >
  <head>
    {% include build-chapter-nav.html %}

    {%- include head.html -%}

    {% if page_prev_chapter %}
      <link rel="prev" href="{{site.baseurl}}{{page_prev_chapter.url}}" />
    {% else %}
      <link rel="prev" href="{{site.baseurl}}/" />
    {% endif %}

    {% if page_next_chapter %}
      <link rel="next" href="{{site.baseurl}}{{page_next_chapter.url}}" />
    {% endif %}


    {% comment %}
    {% if layout.include-chapter-pager %}
      {% include init-page-chapter-vars.html %}

      {% if page_chapter_prev %}
        <link rel="prev" href="{{site.baseurl}}{{page_chapter_prev.url}}" />
      {% else %}
        <link rel="prev" href="{{site.baseurl}}/" />
      {% endif %}

      {% if page_chapter_next %}
        <link rel="next" href="{{site.baseurl}}{{page_chapter_next.url}}" />
      {% endif %}
    {% endif %}
    {% endcomment %}

  </head>
  <body>
    <div class="book">

      {{ chapter-nav }}

      <div class="book-body">
        <div class="book-header" role="navigation">
          <h1>
            <a href="{{site.baseurl}}/" >{{ site.title | escape }}</a>
          </h1>
        </div><!-- .book-header -->

        <div class="body-inner">
          <div class="page-wrapper" tabindex="-1" role="main">
            <div class="page-inner">
                <section class="normal markdown-section">

                  {{ content }}
                </section>

                {% if layout.include-chapter-pager %}

                  {% if page_prev_chapter or page_next_chapter %}
                    <div class="chapter-pager">

                      {% if page_prev_chapter %}
                        <a href="{{site.baseurl}}{{ page_prev_chapter.url }}"
                           class="chapter-prev {% unless page_next_chapter %}pager-unique{% endunless %}"
                           aria-label="Previous page: {{ page_prev_chapter.title | escape }}"
                           data-level="1.1" data-path="{{site.baseurl}}{{ page_prev_chapter.url }}">
                          <div class="pager-arrow">
                            <i class="fa fa-arrow-left"></i>
                          </div>
                          <div class="pager-labels">
                            <div class="part">
                              {% if page_prev_part_label %}{{ page_prev_part_label }} -{% endif %}
                              Previous
                            </div>
                            <div class="chapter-label">
                              {{ page_prev_chapter.title | escape }}
                            </div>
                          </div>
                        </a>
                      {% endif %}

                      {% if page_next_chapter %}
                        <a href="{{site.baseurl}}{{ page_next_chapter.url }}"
                           class="chapter-next {% unless page_prev_chapter %}pager-unique{% endunless %}"
                           aria-label="Next page: {{ page_next_chapter.title | escape }}"
                           data-level="1.1" data-path="{{site.baseurl}}{{ page_next_chapter.url }}">
                          <div class="pager-arrow">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="pager-labels">
                            <div class="part">
                              Next
                              {% if page_next_part_label %}- {{ page_next_part_label }}{% endif %}
                            </div>
                            <div class="chapter-label">
                              {{ page_next_chapter.title | escape }}
                            </div>
                          </div>
                        </a>
                      {% endif %}

                      <div style="clear: both;"></div>
                    </div><!-- .chapter-pager -->
                  {% endif %}

                {% endif %}

                <div class="chapter-footer">
                  {% assign latest_year = "now" | date: "%Y" %}
                  {% capture copyright_start_year %}{{ site.copyright.start_year }}{% endcapture %}
                  {% if site.copyright.link_slug %}<a href="{{ site.baseurl }}/{{ site.copyright.link_slug }}">{% endif %}
                  Copyright
                  &copy;
                  {% if copyright_start_year and copyright_start_year != latest_year %}{{ copyright_start_year}}-{% endif %}{{ latest_year }}
                  {{ site.author }}
                  {% if site.copyright.link_slug %}</a>{% endif %}

                  {% if site.github_edit.enabled %}
                    <p>
                      <a href="{{ site.github_edit.base_url }}{{ page.path }}" target="_blank" title="Edit on GitHub">
                        <i class="fa fa-github"></i>
                      </a>
                    </p>
                  {% endif %}
                </div><!-- .chapter-footer -->

            </div> <!-- .page-inner -->
          </div> <!-- .page-wrapper -->
        </div> <!-- .body-inner -->
      </div> <!-- .book-body -->
    </div> <!-- .book -->

    {%- include footer.html -%}

    <script>
        // var gitbook = gitbook || [];
        gitbook.push(function() {
          gitbook.page.hasChanged({%- include gitbook-metadata.json.tpl -%});
        });
    </script>
  </body>
</html>

